.request {
    width: 100%;
    z-index: 100;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    background:rgba(0, 0, 0, 0.7);
}
  /* {overflow: hidden;}  */
.title {
    width: 227px;
    height: 35px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -0.02em;
    color: #000000;
}
.container  {
    position: absolute;
    height: 400px;
    max-width: 370px;
    top: 50%;
    left: 50%;
    margin: -185px 0 0 -185px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.container input {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
}
::-webkit-input-placeholder {
    text-align:center;
    }
    :-moz-placeholder { 
       text-align:center;  
    }
    
    ::-moz-placeholder {
       text-align:center;  
    }
    :-ms-input-placeholder {  
       text-align:center; 
    }
input {
    padding: 10px;
    position: relative;
    width: 350px;
    height: 80px;
    font-size: 36px;

    background: #343434;
    border-radius: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #8B8B8B;
}

.button {
    position: relative;
    width: 350px;
    height: 80px;
    margin-bottom: 40px;

    background: #CCFF00;
    border-radius: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #000000;
}
.error {
    color: red;
}